//Change to a desktop size
.main_footer{    
    @include breakpoint(desktop){
        width: 100%;
        margin-top: 180px;
    .footer_container{
            margin-top: 0px;
            width: 1110px;
            height: 84px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            .footer__logo{
                width: 160px;
                height: 58px;
            }
            .footer__parrafo{
                width: 430px;
                height: 84px;
                margin-top: 0;
                p{
                    font-family:$secondary-font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    margin-top: 0;
                }
            }
            .footer__social_networks{
                margin-top: -50px;
            }
        }
    }
}

//Footter lotacion:html

.main_footer_2{
    @include breakpoint (desktop){
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 244px;
        .footer__logo{
            width:160px ;
            height: 58px;
        }
        .footer__parrafo{
            width:430px ;
            height: 84px;
            margin:0;
            p{
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;

            }

        }
        .footer__social_networks{
            width:100px ;
            height: 20px;
            margin:0;

        }
    }
}