// Mobile size

//footer of index.html
.main_footer{
    margin-top: 120px;
    background-color: $black;
    padding: 48px 32px 48px 32px;
    color:$white;
    .footer__parrafo{
        margin-top: 38px;
        p{
             font-family: $secondary-font;
             font-weight: 400;
             font-size: 16px;
             line-height: 26px;
             letter-spacing: 0px;
        }
    }
    .footer__social_networks{
        margin-top: 38px;
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 20px;
        gap:20px;
        margin-right: 50px;
    }
}

//footer of location.html
.main_footer_2{
    height: 336px;
    background-color: $gold;
    padding: 48px 32px 48px 32px;
    color:$black;
 
    .footer__parrafo{
        margin-top: 38px;
        p{
             font-family: $secondary-font;
             font-weight: 400;
             font-size: 16px;
             line-height: 26px;
             letter-spacing: 0px;
        }
    }
    .footer__social_networks{
        margin-top: 38px;
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 20px;
        gap:20px;
    }
}