//Change to a desktop  size to index.html

.main_header{
    @include breakpoint(desktop-XL){
        display: flex;
        margin-left: auto;
        margin-right: auto;
        .color_bar{
            background-color:$black-ligth;
            width: 31.5%;
            height: 1000px;
            position: relative
        }
        .principal_image{
            background-image: url(../img/imagen_1_3.jpg);
            background-size:contain;
            background-position-y: -40px;
            width: 37.5%;
            height: 1800px;
            background-position-x: 210px;
            position: relative;
            background-position-x: center;
            margin-left: 0;
            padding-left: 0;
            img{
              background-size:auto;
            }
        }
        .container_header_2{
            position: absolute;
            left:145px;
            top:45px;
            display: flex;
            justify-content: center;
            align-items: center;
            .container__title{
                .h1{color:$white;
                font-family: $primary-font;
                font-weight: 900;
                font-style: Black;
                font-size: 130px;
                line-height: 120px;
                letter-spacing: 0px;
                text-transform: uppercase;
                margin-left: -191px;
                margin-top: -60px;
                }
            }
            .welcome_text_2{
                position: relative;
                top:120px;
                left: 240px;
                .container__subtitle{
                    p{
                        font-family: Outfit;
                        font-weight: 400;
                        color: $black-ligth;
                        font-style: Light;
                        font-size: 32px;
                        line-height: 45px;
                        letter-spacing: 0px;
                        margin-right: -200px;
                        margin-left: 30px;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}
.button_index{
  margin-top: 150px;
  margin-left: 65px;
  width: 350px;
  height: 100px;
  .text{
    width: 350px;
    height: 100px;
    font-size: 30px;
    font-weight: 600;
  }
  .arrow{
    height: 100%;
  }
}
// location.html

.main_location{
    @include breakpoint (desktop){
        width: 1440px;
        height: 600px;
        .location__map{
            background-image: url(../img/Bitmap_3.jpg);
            background-repeat: no-repeat;
            width: 1440.9px;
            height: 685px;
            .button_location{
                margin-left: 156px;
            }
            .location__location{
                left:532px;
                top:35px;
            }
        }
    }
}
.main_header{
    @include breakpoint(desktop xl){
        .container_header_2{
            position: absolute;
            left:15px;
            top:-100px;
            display: flex;
            justify-content: center;
            align-items: center;
            .container__title{
                width: 514px;
                height: 176px;
                h1{color:$white;
                font-family: $primary-font;
                font-weight: 900;
                font-style: Black;
                font-size: 96px;
                line-height: 88px;
                letter-spacing: 0px;
                text-transform: uppercase;
                }
      }
    }
}
}
