//Change to a tablet size

.main_header{
    @include breakpoint (tablet){       
        display: flex;
        .principal_image{
            background-image: url(../img/imagen_1_2.jpg);
            background-repeat: no-repeat;
            width: 437px;
            height: 700px;
            margin-left: -17px;
                 
        }
        .welcome_text{
            position: absolute;
            width: 339px;
            height: 410px;
            margin-left: 389px;
            margin-top: 145px;
        }
    } 
}    

//Header tablet size location.html

.main_location{
    @include breakpoint (tablet){
        .location__map{
            background-image: url(../img/Bitmap_2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 768px;
            max-width: 1023px;
            height: 600px;
            .button_location{
                margin-left: 39px;
            }
            .location__location{
                margin: 180px 350px;
            }
        }
    }
}