// Mobile size


//Index Header
.main_header{
    .principal_image{
        background-image: url(../img/imagen_1.jpg);
        background-repeat: no-repeat;
        min-width: 375px;
        max-width: 767px;
        height: 240px;
        margin-left: -17px;     
    }
    .container__title{
        width: 343px;
        height: 112px;
        margin:auto;
        margin-bottom: 32px;
        h1{
            font-family: $primary-font;
            font-weight: 900;
            font-size: 60px;
            line-height: 55px;
            letter-spacing: 0px;
            text-transform: uppercase;
        }
    }
    .container__subtitle{
        width: 343px;
        height: 112px;
        margin:auto;
        margin-bottom: 32px;
        .p{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        color:$black-ligth;
        }
    }
}

//Location Header

.main_location{
    .location__map{
        background-image: url(../img/Bitmap_1.jpg);
        width: 375px;
        height: 550px;
    }
    .button_location{
        position:relative;
    }
    .location__location{
        position: relative;
        margin: 155px 154px 0px 154px;       
    }
}
