// Mobile size
.main_section{
    .imagen_2{
        background-image: url(/img/imagen_2.jpg);
        width: 343px;
        height: 320px;
        margin:auto;
        margin-top: 120px;
    }
    .section_text{
        width: 343px;
        height: 223px;
        margin:auto;
        margin-bottom: 32px;
        .text_title{
            width: 343px;
            height: 90px;
            display: block;      
            h2{font-family: $primary-font;
            font-weight: 900;
            font-size: 50px;
            line-height: 45px;
            letter-spacing: 0px;
            text-transform: uppercase;
            margin-bottom: 21px;
            margin-top: 21px;
            }
        }
        .text_parrafo{
            p{
                font-family: $secondary-font;
                color: $black-ligth;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
            }
        }
    }
}
.location__title{
    @include breakpoint(Mobile){
        br{
            display:none;
        }
    }
}
