//Change to a desktop size

.main_section{
    @include breakpoint(desktop){
        display:flex;
        flex-direction: row-reverse;
        margin-top: 180px;
        width: 1110px;
        margin-left: auto;
        margin-right: auto;
        .imagen_2{
            background-image: url(/img/imagen_2_3.jpg);
            width: 635px;
            height: 400px;
            margin-top: 0;
            margin-left: 125px; 
        }
        .section_text{
            width: 350px;
            height: 280px;
            margin-top: 60px;
            margin-bottom: 60px;
            .text_title{
                width: 350px;
                height: 120px;
                margin-bottom: 32px;
                
                
                h2{
                    font-family: $primary-font;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 60px;
                    line-height: 60px;
                    letter-spacing: 0px;
                    text-transform: uppercase;
                }
            }
            .text_parrafo{
                width: 350px;
                height: 128px;
                p{
                    font-family: Outfit;
                    font-weight: 400;
                    font-style: Light;
                    font-size: 22px;
                    line-height: 32px;
                    letter-spacing: 0px;
                }

            }
        }

        

    }
}