//Change to a desktop size

.location{
    @include breakpoint (desktop){
        display:flex;
        height: 548px;
        justify-content: space-around;
        align-items: top;
        padding-top: 0;
        .location__title{
            width: 260px;
            height: 140px;
            padding-top:104px;
            

            h2{
                font-family: $primary-font;
                font-weight: 900;
                font-style: Black;
                font-size: 70px;
                line-height: 70px;
                letter-spacing: 0px;
                text-transform: uppercase;
            }
        }
        .location_2{
            padding-top: 70px;
            padding-right: 200px;
        }       
    }
}