//Change to a tablet size

.subsection{
    @include breakpoint(tablet){
        display: flex;
        margin-top: 11px;
        .imagen_3{
            background-image: url(../img/imagen_3_2.jpg);
            width: 398px;
            height: 720px;
            margin:0px 11px 0px 39px;
        }
        .subsection_2{
            width: 280px;
            height: 720px;
            .imagen_4{
                background-image: url(../img/imagen_4_2.jpg);
                width: 280px;
                height: 313px;
                margin-top: 0;
            }
            .text{
                width: 280px;
                height: 396px;
              h2{
                margin-top: 45px;
                }
                .text__parrafo{
                  padding-top: 24px;
                }
            }
        }
    }
}
