// Mobile size

.subsection{
    .imagen_3{
        width: 343px;
        height: 480px;
        margin: auto;
        background-image: url(../img/imagen_3.jpg);
    }
    .imagen_4{
        width: 343px;
        height: 200px;
        margin: auto;
        background-image: url(../img/imagen_4.jpg);
        margin-top: 16px;
    }
    .text{
        width: 343px;
        height: 293px;
        margin: auto;
        background-color: $black;
        color:$white;
        margin-top: 16px;
        .text__h2{
          width: 295px;
          height: 90px;
          padding: 48px 24px 24px 24px;
            h2{
            font-family: $primary-font;
            font-weight: 900;
            font-size: 50px;
            line-height: 45px;
            letter-spacing: 0px;
            text-transform: uppercase;
            margin:0;     
            }
        }
        .text__parrafo{
            padding: 0px 24px 47px 24px;
            .parrafo{
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
            }
        }
    }
}