//Change to a desktop size

.subsection{
    @include breakpoint(desktop xl){
        display: flex;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        .imagen_3{
            background-image: url(../img/imagen_3_3.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            min-width: 850px;
            height: 1200px;
            margin-left: 145px;
            margin-right: 30px;
        }

        .text{
            width: 645px;
        }
    }
}
.imagen_4{
          @include breakpoint(desktop xl){
            background-image: url(../img/imagen_4_3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 1045px;
            height: 1000px;
            margin-bottom: 30px;
        }
      }
