//Button index go to location.html
.button_index{
    margin-top: 0px;
    width: 260px;
    height: 72px;
    margin-left: 16px;
    display: inline-flex;
    padding:0;
    border:0;
    .text{
        text-decoration: none;
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 3.64px;
        color: $white;
        background-color: $black;
        width: 204px;
        height: 72px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .arrow{
        width: 56px;
        height: 72px;
        background-color: $gold;
        display: inline-flex;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 5%;
        font-weight: 100;
        font-family: $secondary-font;
        img{
            margin: auto;
            width: 8px;
            height: 24px;
            padding: 24px;
        }
    }
}
.button_index:hover{
    .text{
        background-color: $gold;
    }
    .arrow{
        background-color: $black;
    }
}

//Button location go to index.html

.button_location{
    margin-top: 0px;
    width: 260px;
    height: 72px;
    display: inline-flex;
    padding:0;
    border:0;
    .text{
        text-decoration: none;
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 3.64px;
        color: $white;
        background-color: $black;
        width: 204px;
        height: 72px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .arrow{
        width: 56px;
        height: 72px;
        background-color: $gold;
        display: inline-flex;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 5%;
        font-weight: 100;
        font-family: $secondary-font;
        img{
            margin: auto;
            width: 8px;
            height: 24px;
            padding: 24px;
        }
    }
}
.button_location:hover{
    .text{
        background-color: $gold;
    }
    .arrow{
        background-color: $black;
    }
}
